.home-container {
  gap: 0.5rem;
  display: grid;
  grid-template:
    [header-left] "job job" [header-right]
    [main-left] "body avatar" [main-right]
    / auto 15rem;
  grid-column-gap: 1rem;
}

.job-header {
  /* text-lg text-center sm:text-2xl md:text-4xl text-amber-400 font-extrabold mb-8 */
  text-align: center;
  font-weight: bolder;
  color: #fbbf24;
  font-size: 3rem;
  grid-area: job;
}

.job-body {
  grid-area: body;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.my-name {
  font-size: 2rem;
}

.job-description {
  font-weight: 200;
}

.cv-download-button {
  width: 50%;
  background-color: #fbbf24;
  border-radius: 0.5rem;
  color: black;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: bolder;
  transition: transform 0.7s ease-in-out;
}
.cv-download-button:hover {
  transform: scale(1.1);
}

.avatar {
  border-radius: 50%;
  grid-area: avatar;
}
